<!DOCTYPE html>
<html lang="en">

{{!-- HEADER --}}
{{> head}}

{{!-- /HEADER --}}

<body>
{{!-- NAVBAR --}}
   
{{> navbar}}

{{!-- /NAVBAR --}}

    {{!-- BODY --}}
    <div class="container">
 {{{body}}} 
    </div>
   {{!-- /BODY --}}


{{!-- FOOTER --}}
   {{> footer}}
   {{!-- /FOOTER --}}
</body>
</html>